<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6824209004972578~2874976479</string>
	<key>GADBannerID</key>
	<string>$(BANNER_ID)</string>
	<key>GADInterstitialID</key>
	<string>$(INTERSTITIAL_ID)</string>
	<key>GADMainBannerID</key>
	<string>$(MAIN_BANNER_ID)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ReverseGeocodingUrl</key>
	<string>$(REVERSE_GEOCODING_API_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>WeatherApiKey1</key>
	<string>$(WEATHER_API_KEY)</string>
	<key>WeatherApiKey2</key>
	<string>$(WEATHER_API_KEY2)</string>
	<key>WeatherApiKeyV2</key>
	<string>$(WEATHER_API_KEY_V2)</string>
	<key>WeatherApiUrl</key>
	<string>$(WEATHER_API_URL)</string>
	<key>WeatherApiUrlV2</key>
	<string>$(WEATHER_API_URL_V2)</string>
</dict>
</plist>
